*{
    margin:0;
    font-family: Arial;
    border:border-box;
}

.navbar{
    background-color: #0f1111;
    height: 60px;
    color:white;
}

.nav_logo{
    height:50px;
    width: 100px;
}

.logo{
    background-size: cover;
    background-image:url("amazon_logo.png") ;
    height:50px;
    width:100%;
}